body {
  font-family: 'Lato', sans-serif;
}

nav {
  display: block;
  background-color: #222222;
  padding: 10px 0 10px 0;
  /* position: sticky */
}

.textArea {
  margin-left: 15%;
}

.mainContainer {
  background-image: url('./assets/photo-couch.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 700px;
  position: relative;
  top: -20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 100;
  font-size: 2.5em;
}

h3 {
  font-weight: 100;
}

.textArea {
  display: block;
  position: relative;
  top: 375px;
}

.aboutTextSubArea {
  width: 51%;
}

button {
  background-color: #47e4c2;
  color: #333333;
  border-radius: 25px;
  border-style: hidden;
  padding: 5px 25px 5px 25px;
  margin-top: 10px;
  font-weight: 700;
}

button:hover {
  background-color: #047b62;
  transition: background-color 0.3s ease-in;
}

/* for sake of accessibility */
/* button:focus {
  border: 1px solid white;
  outline: none;
  transition: border 0.2s ease-in;
} */

button:focus {
  outline: none;
}

button:active {
  background-color: #b4ebdf;
}

.hiwContainer {
  text-align: center;
  /* background-color: lightgray; */
}

.stepContainer {
  width: 23%;
  margin: 0 10px 0 10px;
  float: left;
  padding-bottom: 100px;
}

.stepNum {
  font-weight: 700;
}

.numHR {
  height: 3px;
  width: 50px;
  background-color: #47e4c2;
  border: none;
}

.stepTitle {
  font-weight: 700;
}

/* media queries */

/* small screen */

/* .textArea {
  top: 200px;
}
  */
